body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}


.home-bg {
background: url('/static/images/dental_bg.png') no-repeat center center fixed;
background-size: cover;
}


.center-box {
text-align: center;
margin-top: 150px;
}


.btn {
display: inline-block;
padding: 15px 30px;
margin: 10px;
background-color: #007BFF;
color: white;
text-decoration: none;
border-radius: 8px;
}


.btn:hover {
background-color: #0056b3;
}
